/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  body {
    font-family: sans-serif;
    line-height: 1.7;
    background-color: #111012;
  }

  p {
    font-size: 18px;
  }
  
  #nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures navbar appears above other content */

  }

  /* Centered nav */
  nav {
    background-color: #E4EBE4;;
    padding: 10px 20px 20px 20px;
    border-radius: 0px 0px 30px 30px;
  }

  #nav-menu li {
    display: inline-block;
  }
  
  #nav-menu a {
    font-size: 20px;
    color: #222322;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: color 0.2s;
  }
  
  #nav-menu a:hover {
    color: #33603A;
  }
  
  /* 15-column grid layout */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 20px;
  }
  
  .main-content {
    grid-column: 3 / 14;  
    
    background-color: #222322;
    padding: 3em;
    border-radius: 15px;
    color: #E4EBE4;
    margin: 20px 0px 20px 0px;
  }

  .project {
    margin: 3em 0 3em 0;
  }

  /* ------------------------------------------------------------------------------------- */

  .iframe-wrapper {
    --ratio: 56.25%;              /* 9/16 * 100% for 16:9 aspect ratio */
    --max-h: 703px;               /* Your desired maximum height */
    padding-top: min(var(--ratio), var(--max-h));
    height: 0;
    position: relative;
    width: 100%;
    max-width: 1250px;
    margin: 1em 0;
  }

  .iframe-wrapper iframe { /*keeps iframes 16:9 aspect ratio*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 3em;
  }

  #farm-wrapper {
    position: relative;
    padding-top: 65%;
    height: 0;
    width: 100%;
    margin: 1em 0 1em 0;
  }

  #farm-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 525px;
    max-width: 643px;
    margin-bottom: 2em;
  }
  
  img {
    max-width: 1250px;
    max-width: 100%;
    margin: 1em 0;
  }

  #img-wrapper {
    position: relative;
    width: 100%;
    margin: 1em 0 1em 0;
  }

  /* ----------------------------------------------------- */

  a {
    color: #E4EBE4
  }

  /* ----------------------------------------------------- */

  #homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 8em 2em 8em 2em;
  }

  #homepage > h1 {
    font-weight: 700;
    font-size: 2.7em;
  }

  #homepage > h2 {

    font-weight:lighter;
    font-size: 1.5em;
    margin-bottom: 0.8em;
    
  }

  #homepage .btn {
    
    background-color: #E4EBE4;
    color:#111012;
    padding: 1em;
    border-radius: 5px;
    color:#111012;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
  }

  /* ----------------------------------------------------- */

  footer {
    color: #E4EBE4;
    width: 100vw;
    background-color: #1f1f38;
    text-align: center;
    padding: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
  }

  footer div {
    margin: 0 6vw 0 6vw;
    text-align: left;
  }
  
  footer ul li {
    list-style-type: none;
    font-weight: normal;
  }

  footer ul li:hover {
    font-weight: bold;
    transition: font-weight 0.2s;
  }

  footer ul li a {
    color: #E4EBE4;
    text-decoration: none;
  }